
body {
	background-image: url("../images/X-wing_SWB.png");
}

img {
	opacity: 1.0;
}
.image { 
	position: relative; 
	width: 100%; 

}

span {
	line-height: 70%;
	color: white;
	text-shadow: 
			-1px -1px 0 #000,
			 1px -1px 0 #000,
			-1px  1px 0 #000,
			 1px  1px 0 #000;
	margin-right: 5px;
}

.opacity {
	background: white;
	opacity: 0.1;
}