
body {
	background-image: url("../images/X-wing_SWB.png");
}

.image { 
	position: relative; 
	width: 100%; 
}

h4 { 
	color: white;
	text-shadow: 
			-1px -1px 0 #000,
			 1px -1px 0 #000,
			-1px  1px 0 #000,
			 1px  1px 0 #000;
	position: absolute; 
	top: 115px; 
	left: 10px; 
	width: 100%; 
}

.nameover-luke {
	left: 260px;
}

.nameover-sid {
	left: 510px;
}

.nameover-maul {
	left: 760px;
}

h5 { 
	color: white;
	text-shadow: 
			-1px -1px 0 #000,
			 1px -1px 0 #000,
			-1px  1px 0 #000,
			 1px  1px 0 #000;
	position: absolute; 
	top: 20px; 
	left: 215px; 
	width: 100%; 
}

.healthover-luke {
	left: 465px;
}

.healthover-sid {
	left: 715px;
}

.healthover-maul {
	left: 965px;
}