
body {
	background-image: url("../images/X-wing_SWB.png");
	color: white;
	text-shadow: 
			-1px -1px 0 #000,
			 1px -1px 0 #000,
			-1px  1px 0 #000,
			 1px  1px 0 #000;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.available, .becomeEnemy {
	margin-top: 5px;
	margin-bottom: 5px;
}


.header {
	order: 1;
}

.center {
	text-align: center; 
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.image { 
	width: 100%;
	height: 650px;
}

/* .name, .health {
	position: relative;
	top: 105px;
	left: 10px;
	
} */

.name {
	margin-right: 5px;
}

.healthbar {
	border: 2px solid white;
}

.healthbar-obi,
.healthbar-luke, 
.healthbar-sid, 
.healthbar-maul {
	padding-top: 5px;
	padding-bottom: 5px;
}

.imgBtn-obi, .healthbar-obi {
	border: 5px solid #4065b4;
}

.imgBtn-luke, .healthbar-luke {
	border: 5px solid #40b440;
}

.imgBtn-sid, .healthbar-sid {
	border: 5px solid #b44848;
}

.imgBtn-maul, .healthbar-maul {
	border: 5px solid #000000;
}

.footer {
	margin-bottom: 50px;
	/* border: 2px solid white; */
	color: white;
}

